@tailwind base;
@tailwind components;
@tailwind utilities;

.h-xl {
  height: 90vh;
}

@font-face {
  font-family: "Agatha Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agatha Regular"), url("../fonts/Agatha.woff") format("woff");
}

@font-face {
  font-family: "The Scientist";
  font-style: normal;
  font-weight: normal;
  src: local("The Scientist"), url("../fonts/TheScientist-L3EyW.ttf");
}

@font-face {
  font-family: "18C";
  font-style: normal;
  font-weight: normal;
  src: local("18C"), url("../fonts/LovelyCoffee-jEVeO.ttf");
}

h1 {
  font-family: "The Scientist";
}

::-webkit-scrollbar {
  display: none;
}

.border-gradient {
  position: relative;
  border: 5px solid transparent;
  background: #f2f2f2;
  background-clip: padding-box;
  border-radius: 10px;
}

.border-gradient::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: linear-gradient(to bottom right, #ff7f0f8e, #ec2dfd5d);
  opacity: 0.1;
  z-index: -1;
  border-radius: 10px;
}

.background {
  background: rgba(98, 98, 98, 0.05);
  backdrop-filter: blur(120px);
  z-index: 5;
}

.background-modal {
  background: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(300px);
}

.background-modal-op {
  background: rgba(79, 79, 79, 0.121);
  backdrop-filter: blur(300px);
}

.bg-1 {
  background-image: url(../public/Cover-1.jpg);
  background-size: cover;
  background-position: center;
}

.bg {
  z-index: 0;
}

.bg-2 {
  background-image: url(../public/Cover-2.jpg);
  background-size: cover;
  background-position: center;
}

.bg-3 {
  background-image: url(../public/Cover-3.jpg);
  background-size: cover;
  background-position: center;
}

.bg-4 {
  background-image: url(../public/Cover-4.jpg);
  background-size: cover;
  background-position: center;
}

.bg-5 {
  background-image: url(../public/Cover-5.jpg);
  background-size: cover;
  background-position: center;
}

.pt-120 {
  padding-top: 3000px;
}

.contain-image {
  object-fit: contain;
}
